.background-image {
    background-image: url('https://s3-alpha-sig.figma.com/img/afef/fb46/5cb04fe930e5c58f1c741b49a6ed353b?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Hcx1BsJwfE9hc~ouegtT-cGLvEPkBRjdfd4AMUsHLiP5qImZHqADEc2S2KWLtO1CUXKqWCKjj-g9lrrRHtE2msM4UKLUl4Vhkb8BZabeAiI3DdBwfOWbuXA8EQGfIKCboCiIqBktlvVjHCcJfydqhS7nyPOPYtjxbfiInJ5II5JzGwKOi5ZBSq-F0nI7rQyVu6uU3Dd4CSAwOLM-AZUhJS1Jf23tMOTjdGS4mvsyT8yGzAO3PTUw9Um4zpqE4k0wHM9x8OzU90bs31gWSFo0LHJCFSLjtZZEFwVnS-~qHywxp7ov2DT3OA4gl1tZioJS6SfCb43uV60Af1x9D9231g__');
    background-size: cover;
    background-position: center;
    width: calc(100vw - 17px); /* Scrollbar genişliyini çıxır */
    height: 100vh;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
  }

  .content { 
    text-align: center; 
    padding: 20px; 
    border-radius: 8px; 
  } 

  .content .designer-heading{
    font-size: 24px; 
    font-weight: 500;
    color: #161515;
    margin-bottom: 20px; 
} 

  .start-now-design { 
    width: 225px;
    height: 57px;
    gap: 8px;
    padding: 12px 14px 12px 14px;
    background-color: #FF810C; 
    color: #fff; 
    border: none; 
    font-size: 18px;
    font-weight: 500; 
    border-radius: 8px; 
    cursor: pointer;
   }