.product-grid-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #E0E0E0;
}
.page-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
hr {
  border: none; /* Убираем стандартную границу */
  height: 2px;  /* Задаем высоту */
  background-color: #ccc; /* Цвет линии */
  margin: 20px 0; /* Отступы сверху и снизу */
  width: 100%; /* Делаем ее по ширине контейнера */
}

.subtitle {
  font-size: 16px;
  color: #474646;
  margin-bottom: 20px;
}

.search-bar input {
  width: 400px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #000;
  font-size: 14px;
  outline: none;
  text-align: center;
  background-color: #E0E0E0;
}

.search-bar::placeholder {
  font-size: 16px;
  text-align: center;
  color: #B1B1B1;
}

.search-bar {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.search-icon {
  position: absolute;
  left: 25px;
  top: 8px;
  color: #000;
  transform: translateX(-50%);
  font-size: 24px;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.product-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 299px;
  height: 390px;
  margin-left: 80px;
}

.product-card img {
  width: 247px;
  height: 180px;
  object-fit: contain;
}

.product-card .size {
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
}


.product-card .size span {
  font-weight: 400;
  font-size: 16px;
}

.product-card .colors {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.product-card .colors .color {
  width: 28px;
  height: 14px;
  border-radius: 13px;
  border: 1px solid #ececec15;
}

.product-card .detail {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.product-card {
  position: relative;
  overflow: hidden;
}

.product-card .hover-img {
  width: 247px;
  height: 180px;
  opacity: 0;
  position: absolute;
  z-index: -1;
  transition: opacity 0.4s ease-out;
}

.product-card:hover .hover-img {
  opacity: 1;
  z-index: 1;
}


.product-card .detail img {
  width: 20px;
  height: 20px;
}

.product-card .material img {
  width: 20px;
  height: 20px;
}

.product-card .material {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.product-card .material span {
  font-weight: 400;
  font-size: 16px;
}

.product-card .price {
  display: flex;
  font-size: 18px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  font-weight: 500;
}
.product-card .price span{
  margin-right: 42px;
}

.product-card .product-name {
  margin-bottom: 10px;
  display: flex;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}


/* .color {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
  }
   */
/* .product-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
  } */


.product-card .design-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 37px;
  border-radius: 15px;
  border: none;
  background-color: #FF810C;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}


@media (max-width: 992px) {
  .product-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .product-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-card {
    flex-direction: column;
    align-items: center;

  }
}