.file {
    width: calc(25% - 64px);
    margin: 10px;
    height: 80vh;
    display:  flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.chosen.roundBtn {
    background-color: #ff800b;
    color: white;
    border-color: #ff800b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.hr {
    color: #c9c9c9;
    margin-bottom: 20px;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.roundBtn {
    width: 50px;
    height: 30px;
    border: 1px solid grey;
    color: grey;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px 0;
    background-color: white;
}

.roundBtn.long {
    width: auto;
    height: auto;
    margin: 10px 0;
    padding: 10px 20px;
}

.picker {
    padding: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    background-color: white;
}

.btns {
    width: 100%;
    display: flex;
    gap: 20px;
}

.btns .btn {
    width: calc(50% - 10px);
}

.btn {
    color: grey;
    background-color: white;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    padding: 20px 0;
    font-size: 1.2rem;
    margin-bottom: 20px;
    width: calc(50% - 20px);
    text-align: center;
}

.btn.chosen {
    color: white;
    background-color: #ff800b;
    border: 1px solid #ff800b;
}

.heading {
    color: #584C59;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 0;
}

.title {
    color: #584C59;
    font-weight: 500;
    margin: 0 0 10px 0;
    font-size: 1.2rem;
}

.img {
    background-color: #584C59;
    width: 100px;
    height: 80px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.orderBtn {
    color: white;
    background-color: #ff800b;
    border: 1px solid #ff800b;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;
    width: 100%;
    margin: 30px 0 20px 0;
    cursor: pointer;
}

.imgAndTitle {
    display: flex;
}

.deleteBtn {
    color: white;
    border: 1px solid crimson;
    border-radius: 6px;
    padding: 0 6px 3px 6px;
    background-color: crimson;
    height: 30px;
}

.warning {
    padding: 20px;
    border: 1px solid #c05151;
    margin-top: 20px;
    color: #c05151;
    border-radius: 10px;
    background-color: white;
}

@media only screen and (max-width: 1600px) {
    .heading {
        font-size: 1.2rem;
        margin-left: 0;
    }
    .title {
        font-size: 1rem;
    }
    .btns {
        gap: 10px;
    }
    .btns .btn {
        font-size: 0.8rem;
        padding: 20px 0;
        width: calc(50% - 5px);
    }
    .btn {
        padding: 10px 0;
    }
    .roundBtn {
        font-size: 0.9rem;
    }
    .chosen {
        background-color: transparent;
        padding: 10px 0;
    }
    .input {
        margin: 10px 0;
    }
    .orderBtn {
        padding: 10px 0;
    }
  }