.canvas {
    width: calc(50% - 2px);
    margin: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    background-color: white;
  }

  .flex {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }